<div class="modal-header">
    <h3 class="modal-title">Edit Membership</h3>
</div>

<div class="modal-body">

	<div class="form-group">
	  <label for="">Label</label>
	  <input type="text" class="form-control" id="" ng-model="membership.label">
	</div>

	<div class="form-group">
	  <label for="">Role</label>
	  <input type="text" class="form-control" id="" ng-model="membership.role">
	</div>

	<div class="form-group">
	  <label for="">Type</label>
	  <input type="text" class="form-control" id="" ng-model="membership.type">
	</div>

	<div class="form-group">
	  <label for="">Class</label>
	  <input type="text" class="form-control" id="" ng-model="membership.class">
	</div>

	<div class="form-group">
	  <label for="">Intended Duration</label>
	  <input type="text" class="form-control" id="" ng-model="membership.intended_duration">
	</div>

	<div class="form-group">
	  <label for="">Start Date</label>
	  <input type="text" class="form-control" id="" ng-model="membership.start_date">
	</div>

	<div class="form-group">
	  <label for="">End Date</label>
	  <input type="text" class="form-control" id="" ng-model="membership.end_date">
	</div>

	<div class="form-group">
	  <label for="">Naming Date</label>
	  <input type="text" class="form-control" id="" ng-model="membership.naming_date">
	</div>

	<div class="form-group">
	  <label for="">Area ID</label>
	  <input type="text" class="form-control" id="" ng-model="membership.area_id">
	</div>

	<div class="form-group">
	  <label for="">Party</label>
	  <input type="text" class="form-control" id="" ng-model="membership.party">
	</div>

	<div class="form-group">
	  <label for="">Party ID</label>
	  <input type="text" class="form-control" id="" ng-model="membership.party_id">
	</div>

	<div class="form-group">
	  <label for="">Heritage</label>
	  <input type="text" class="form-control" id="" ng-model="membership.heritage">
	</div>

	<div class="form-group">
	  <label for="">Heritage URL</label>
	  <input type="text" class="form-control" id="" ng-model="membership.heritage_url">
	</div>

	<div class="form-group">
	  <label for="">Notes</label>
	  <input type="text" class="form-control" id="" ng-model="membership.notes">
	</div>

	<div class="form-group">
	  <label for="">Added By</label>
	  <input type="text" class="form-control" id="" ng-model="membership.added_by">
	</div>

	<div class="form-group">
	  <label for="">Sources</label>
	  <div>TODO</div>
	</div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
